header {
    background-color: aquamarine;
    margin: -10px;
}

header ul {
    display: flex;
    font-weight: bold;
    font-size: x-large;
    align-items: center;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
}

header ul li {
    margin: 1rem;
}

.logo {
    width: 8rem;
    margin-right: auto;
}